interval_ms: 1000
charset: iso-2022-jp

smtp_options:
  user_name: <username>@gmail.com
  password: <password>
  address: smtp.gmail.com
  port: 587
  domain: smtp.gmail.com
  authentication: plain
  enable_starttls_auto: true
